* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.background {
    width: 100%;
    height: calc(100vh);
    position: absolute;
    left: 0;
    background-image: url(img/sfondo.jpg);
    opacity: 0.8;
    z-index: -1;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 100;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header .logo img {
    width: auto;
    height: 50px;
}
header select, header label {
    display: none;
}

header select.active, header label.active {
    display: inline-block;
}

header input {
    display: inline-block;
    background-color: black;
    border: 1px solid white;
    width: auto;
    padding: 5px 10px;
    color: white;
}

header button {
    background-color: black;
    margin-left: -20px;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    float: right;
}
header input:focus, button:focus {
    outline: 0;
}

main {
    height: calc(100vh);
    padding-top:100px;
    color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    margin: auto;
}

.entry {
    width: calc(25%);
    background-color: black;
    z-index: 10;
    position: relative;
    overflow-y: hidden;
    padding: 2px;
    max-height: 550px;
}

.entry span {
    color: grey;
    font-size: 14px;
}

.entry p i {
    color: yellow;
}

.no-results {
    display: none;
    top: 110px;
    width: 100%;
    text-align: center;
}

.no-results.active {
    display: block;
    position: absolute;

}

.search {
    display: none;
    top: 110px;
    width: 100%;
    text-align: center;
}

.search.active {
    display: block;
    position: absolute;
}

.entry-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.entry-hover span, .entry-hover p {
    width: 100%;
}

.copertina {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entry:hover {
    transform: scale(1.05);
    transition: all 0.8s;
    z-index: 11;
}

.entry:hover .copertina {
    opacity: 0.2;
    transition: opacity 1s;
}

.entry:hover .entry-hover {
    opacity: 1;
    transition: opacity 1s;
}

.active {
    display: block;
}

.entry p, .entry span {
    padding: 10px;
}

.entry p, .entry h4 {
    font-size: 16px;
}

.entry span, .entry i {
    font-size: 18px;
}

.search h2 {
    font-size: 24px;
}

.entry-hover > span {
    display: block;
}

.overview span {
    display: block;
}

@media (max-width: 1400px) {
    .entry p, .entry h4, .entry span, .entry i {
        padding: 2px;
    }
    .entry p, .entry h4 {
        font-size: 14px;
    }
    
    .entry span, .entry i {
        font-size: 12px;
    }
    
    .search h2 {
        font-size: 20px;
    }
}
@media (max-width:768px) {
    .header-wrapper {
        display: block;
    }
    .logo, .ricerca {
        text-align: center;
        margin: auto;
    }

    .entry {
        width: calc(33.3%);
    }

    .entry .overview {
        display: none;
    }
    
}

@media (max-width: 512px) {
    .entry {
        width: calc(50%);
    }
}

@media (max-width: 368px) {
    .entry {
        width: calc(100%);
    }
}
